@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    margin-left: 20%;
    margin-right: 20%;

}


header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.vesi-help {
    display: flex;
    flex-direction: column;

}
.header-icon {
    width: 70px;

}
.vesi-img {
    width: 70px;

}

.vova-help {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.titles-wow {
    display: flex;
    flex-direction: column;

}

.wow-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wow-1 {
    width: 24px;
    height: 15px;
    border: 2px solid black;
    border-radius: 24px;
    margin-left: 300px;
    margin-top: 20px;
}

.wow-2 {
    width: 60px;
    height: 15px;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 300px;
    margin-top: 16px;
}

.wow-3 {
    width: 90px;
    height: 15px;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 300px;
    margin-top: 16px;
}



.help-text {
    font-size: 25px;
    font-weight: 700;
    color: #404040;
}

.titles-container {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    width: 560px;
}

.title {
    color: grey;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s ease-in-out;


}

.title:hover {
    color: black;
    transition: 0.3s ease-in-out;
}


/*///////////BURGER-MENU//////////*/

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 5px;
    left: 10px;
    width: 25px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: grey;
    transition: 0.5s ease-in-out;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
    transition: 0.5s ease-in-out;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
    transition: 0.5s ease-in-out;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: black;
    box-shadow: white;
    transition: 0.5s ease-in-out;
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: grey;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    transition: 0.5s ease-in-out;
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

#menu__toggle:checked ~ .menu__box {
    transition: 0.5s ease-in-out;
    visibility: visible;
    left: 0;
}


/*////////////////////////Кінець бургер-меню////////////////////////*/

.about-me-cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0 0 1px 1px black;
    padding: 15px;

}

.about-me-text {
    font-size: 30px;
    text-align: center;

}
.about-me-cont-mobversion {
    display: none;

}
.about-me-text-mobversion {
    font-weight: 600;
    font-size: 25px;
    text-align: center;

}
.logo-pic {
    width: 300px;
}
.logo-photo-mob {
    display: none;
}
.hr-class {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

hr {
    background-color: black;
    height: 2px;
    border: none;
    display: none;
    width: 200%;

}

.alimenty {
    font-size: 25px;
    font-weight: bolder;
    padding: 5px 20px;
    background-color: #404040;
    border-radius: 10px;
    max-width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}

.price_services {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.prices-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.prices-blocks {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price-block {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
    padding: 10px;
    align-content: flex-start;

}

.pricess {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.price-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.price-description {
    font-size: 15px;
}

.price {
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-weight: bold;
    color: green;
    margin-top: 20px;
}
.two-down-arrows {
    width: 30px;
}
.video-cont {
    width: 100%;
}

.videos {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.video-desc-cont {
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.video-desc-cont p {
    margin-top: 50px;
    padding-bottom: 10px;
}

.block1 {
    display: flex;
    justify-content: space-around;
}
.photos-block {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.photo1 {
    display: flex;
    flex-flow: column;
}

.photo2 {
    display: flex;
    flex-flow: column;
    margin-top: 70px;

}

.img_style {
    border-radius: 25px;
}

.blog_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px black solid;
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: none;
    font-size: 20px;
    padding: 2px;
    transition: ease-in-out 0.3s;
    margin-top: 10px;
}

.blog_buttons:hover {
    background-color: black;
    color: white;
    transition: ease-in-out 0.3s;
    cursor: pointer;

}

.icons {
    display: flex;
    margin-left: 5px;
    width: 20px;
}

.footer {
    border-radius: 25px 25px 0 0;
    width: 100%;
    display: flex;
    background-color: #404040;
    height: 150px;
    margin-top: 85px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.footer-upper-part {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}
.footer-text {
    display: flex;
    align-items: center;

}
.foot-icon {
    width: 40px;
    margin-left: 50px;

}


.soc-net-foot {
    display: flex;
    justify-content: space-around;
}



.copyright {
    display: flex;
    justify-content: center;
    color: white;
}


.hide-blyat-button {
    display: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}
.hide-blyat-button + label ~ .text{
    display: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}
.hide-blyat-button:checked + label ~ .text {
    display: flex;
    transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

/*/ Стилизация псевдокнопки *!*/
.btn {
    display:block;
    margin-bottom: 4px;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    transition: 0.5s ease-in-out;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.next-img {
    width: 30px;
}

label img {
    transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.exact-price {
    order: 2;
    color: green;
    font-weight: 600;
}

[type="checkbox"]:checked ~ label img {
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.mob-version-prices {
    padding: 10px;
    display: none;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.arrow-and-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
    flex-wrap: wrap;

}

.text-prices {
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s ease-in-out;

}

.phone a {
    color: white;
    text-decoration: none;
}

.footer-soc-net {
    height: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

.footer-soc-net-img {
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    flex-shrink: 0;
}

/*///////////////////////////////Адаптивність//////////////////////////*/

@media (max-width: 650px) {
    /*#titles {display: none;}*/

    body {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;

    }

    .hello-text {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }

    .logo-pic {
        display: none;
        width: 150px;
        border-radius: 50%;
        margin-top: 10px;

    }
    .vesi-help {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .help-text {
        font-size: 15px;

    }

    hr {
        display: block;
    }

    .titles-container {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        border: 2px solid black;
        padding: 15px;
        border-left: none;
        border-right: none;
        width: 100%;

    }
    .title {
        margin: 5px;

    }
    .titles-wow {
        align-items: center;

    }
    .wow-container {
        display: none;

    }
    .about-me-cont {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .text-hide {
        display: none;
    }
    .text-prices {
        width: 60%;
    }
    .about-me-cont-mobversion {
    display: block;
    }


    .logo-photo-mob {
        display: block;
    }


    .logo-photo-mob-img {
        width: 300px;
        height: 450px;
    }
    .family-rights {
        font-size: 20px;
        font-weight: bold;


    }
    .about-me-text {
        font-size: 15px;
        text-align: center;

    }


    .logo-pic {
        width: 100px;
        border-radius: 10px;

    }

    .photos-block {
        flex-direction: column;
    }


    .alimenty {
        font-size: 25px;
    }

    .prices-blocks {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .pricess {
        display: none;
    }

    .price-block {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: 5%;

    }
    #video {
        background-color: white;
        color: black;
    }
    .mob-version-videos {
        display: flex;
        height: 50px;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
    }

    .videos {
        flex-direction: column;
        align-items: center;
    }
    #secVideo {
        margin-top: 50px;
    }
    .block1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
    }

    .photo1, .photo2 {
        align-items: center;
    }

    .blog_buttons {
        width: 200px;
    }



    .img_style {
        width: 200px;
        height: 400px;
    }

    .photo2 {
        margin-top: 5%;

    }

    .footer {
        display: flex;

        height: 100px;
        margin-top: 50px;
    }

    .foot-icon {
        width: 20px;
        margin-left: 25px;
        text-align: center;
    }
    .soc-net-foot {
        /*margin-right: 20px;*/
        display: flex;
        /*flex-direction: column;*/

    }
    .contacts {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
    }

    .phone {
        font-size: 15px;
        width: 100px;

    }

    .footer-soc-net {
        display: flex;
        flex-direction: row;
    }

    .footer-soc-net-img {
        width: 20px;
        margin-left: 6px;
        margin-top: 2px;
    }

    .copyright {
        margin-top: 20px;
        font-size: 10px;
    }

    .phone a {
        color: white;
        text-decoration: none;
    }
}

.mob-version-prices {
    display: flex;
    justify-content: space-evenly;
}



@media (min-width: 650px) {
    .mob-version-prices {
        display: none;
    }
    .mob-version {
        display: none;
    }
}
