html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(255, 255, 255, 0.76);
}

*{
    font-family: 'Nunito', sans-serif;
}

header, footer {
    width: 100%;
    height: 80px;
    background-color: #18191b;
}



.head-name {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: rgba(255, 179, 133, 0.76);
    margin-left: 70px;
    margin-top: 20px;

}

.head-buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 30px;

}

.head-buttons-text {
    text-transform: uppercase;
    font-size: 20px;
    user-select: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 10px;
    transition: 0.2s;

}

.head-buttons-text:hover {
    color: #ffb385;
}

.info-about-us {
    width: 30%;
    margin-right: 5px ;
    margin-left: 5px;
    font-family: 'Nunito', sans-serif;
}

.info-about-us-title {
    font-size: 30px;
    color: #ffb385;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.info-about-us-text{
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    color: #18191b;;
}

.first-look-content {
    display: flex;
    margin-top: 5px;
}

.our-group-container {
    margin-top: 50px;

}

.headlines {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ffb385;
}

.all-students {
    display: flex;
    justify-content: space-between;
}

.all-students2 {

}

.students-container{
    display: flex;
    font-family: 'Nunito', sans-serif;
    margin-left: 10px;
    margin-top: 50px;
    width: 20%;
    position:relative;

}

.student-photo {
    border-radius: 50%;
    width: 100%;
}


.student-info {
    width: 100%;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 10%;
    display: none;


}

.students-container:hover .student-info{
    display:block;
}

hr {
    width: 40px;
}

.next-line {
    border: none;
    color: #ffb385;
    background-color: #ffb385;
    height: 2px;
    width: 200px;
}

/*.our-news-container {*/
    /*margin-top: 50px;*/
/*}*/

/*.article-container {*/
    /*margin-top: 35px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/

/*.article-headline {*/
    /*color: #ffb385;*/
    /*font-size: 25px;*/
    /*font-family: 'Nunito', sans-serif;*/
    /*font-weight: 600;*/
    /*margin-left: 5px;*/
/*}*/

/*.article {*/
    /*font-family: 'Nunito', sans-serif;*/
    /*color: #18191b;*/
    /*font-size: 20px;*/
    /*margin-left: 5px;*/
    /*width: 40%;*/
/*}*/

.schedule-container{
    margin-top: 100px;
    margin-bottom: 30px;
}

.weeks-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 17%;
    margin-right: 17%;
}

.weeks {
    font-family: 'Nunito', sans-serif;
    color: #18191b;
    font-weight: 700;
    font-size: 20px;
}

.schedule-img-container {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.week {
    width: 10%;
    height: 10%;
}


footer {
    display: flex;
    text-align: center;
}

.txt-footer {
    padding-top: 20px;
}

.dev-by {
    font-family: 'Nunito', sans-serif;
    color: #ffb385;
}


.bugs {
    font-family: 'Nunito', sans-serif;
    color: #ffb385;
}

.telegram-link {
    text-decoration: none;
    user-select: none;
}

.copyright {
    font-family: 'Nunito', sans-serif;
    color: #ffb385;
}

                /*///////////////////////////////////////SLIDER////////////////////////////////*/
[class^="swiper-button-"] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.swiper-slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.swiper-container {
    width: 80%;
    height: 400px;
    float: left;
    -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
    transition: opacity .6s ease, -webkit-transform .3s ease;
    transition: opacity .6s ease, transform .3s ease;
    transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}
.swiper-container.nav-slider {
    width: 20%;
    padding-left: 5px;
}
.swiper-container.nav-slider .swiper-slide {
    cursor: pointer;
    opacity: .4;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
    opacity: 1;
}
.swiper-container.nav-slider .swiper-slide .content {
    width: 100%;
}
.swiper-container.nav-slider .swiper-slide .content .title {
    font-size: 20px;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}

.swiper-slide {
    overflow: hidden;
}
.swiper-slide .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.swiper-slide .entity-img {
    display: none;
}
.swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #ffffff;
}
.swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
}
.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
    transition: opacity .3s ease, -webkit-transform .7s ease;
    transition: opacity .3s ease, transform .7s ease;
    transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}
.swiper-slide .content .caption.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}

.swiper-button-next {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}



/*Dark-Mode*/

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked + .toggle:before {
    background: #947ADA;
}
#cbx:checked + .toggle span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}


