:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 1170px;
}

header {
    background-image: url("photos/header.png");
    width: 100%;
    height: 600px;
}

.text-block {
    padding-left: 25%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.notify-text{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: white;
}
dot {color: limegreen;}

.great-text {
    margin-top: 5%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.header-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
}

.apple-button {
    background-color: black;
    opacity: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1%;
}

.apple-button:hover {
    background-color: limegreen;
    opacity: 100%;
    transition: 0.5s;
}

.apple-button-svg {
    margin: 14px;
    width: 22px;
    height: 22px;
}

/*-------------------------------------------------Feature CSS------------------------------------------*/

.feature {
    height: 335px;
    width: 100%;
}

.block-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.black-text-feature {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.mini-blocks-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.small-text-feature {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: grey;
}


/*---------------------------------------------------Get-Notified CSS---------------------------------------------------------*/

.get-notified-container {
    height: 430px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 60px;
}

.get-notified-text {
    width: 540px;
}

.get-notified-upd {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.get-notf-small-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: grey;
    margin-top: 30px;
}

.get-not-vid {
    border-radius: 20px;
    height: 300px;
    width: 500px;
}

.notif-form-container {
    margin-top: 30px;
}

.notif-form {
    width: 300px;
    height: 55px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px grey solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.form-tag {
    display: flex;
}

.notif-button {
    border: 1px grey solid;
    width: 140px;
    height: 57px;
    background-color: limegreen;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -1%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    transition: ease-in-out 1s;
}

.notif-button:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 1s;
}

iframe {
    border-radius: 15px;
}

/*--------------------------------------------------------------Last Block CSS------------------------------------------------------*/

.last-block-cont {
    display: flex;
    flex-direction: column;
    height: 325px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    text-align: center;
}

.lorem-ipsum {
    color: grey;
    font-family: 'Open Sans', sans-serif;
}

.Jane-Hunt {
    margin-top: 15px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.Say {
    margin-top: 25px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.lorem-ipsum2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: grey;
    margin-top: 10px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.footer-button {
    background-color: black;
    opacity: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 1%;
}

.footer-button:hover {
    background-color: limegreen;
    opacity: 100%;
    transition: 0.5s;
}

.footer-button-svg {
    color: grey;
    margin: 10px;
    width: 15px;
    height: 15px;
}

footer {
    height: 130px;
    background-color: lightgrey;

}

.footer-buttons2 {
    display: flex;
    justify-content: center;
}

.footer-button2 {
    color: grey;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin-top: 65px;
    margin-right: 40px;
}