
@import '../../style.scss';

.products-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    padding: 30px 60px;
    gap: 20px;
    margin: 0 auto;
    
}

.product{
    width: 300px;
    &__image{
        display: block;
        width: 300px;
        height: auto;
    }
    &__info{
        background-color: #045e43;
        color: white;
        padding: 10px;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__description-color{
        text-align: center;
        font-style: italic;
    }
    &__likeImage{
        width: 30px;
    }
    &__btnAddToCart{
        border: none;
        text-decoration: none;
        cursor: pointer;
        &-disabled{
            pointer-events: none;
        }
    }
}