
html {

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

header {
    width: 100%;
    height: 800px;
    background: url("PNG's/Banner.png");
    background-size: 100%;
    text-align: center;

}

.logo-header {
    padding-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    margin-top: 80px;
    color: white;
    font-size: 37px;
}

a {
    font-weight: bold;
}

.call-to {
    background-color: white;
    border-radius: 5px;
    width: 335px;
    height: 335px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 1px grey, 0 2px 2px grey;

}

.zip-form {
    margin-top: 30px;
    width: 265px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #909090;
    outline: none;

}

::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

.small-photos-main {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-top: 23px;

}

.small-png {
    width: 67px;
    height: 44px;
}

.small-photos-first-line {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
}

.small-photos-second-line {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
}

.press-me-main {
    margin-top: 86px;

}

.press-me-button {
    text-decoration: none;
    text-align: center;
    padding: 13px 48px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 19px 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #227dd3;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.press-me-button:hover {
    padding: 13px 48px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 19px 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #1e6bb3;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.press-me-button:active {
    padding: 13px 48px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 19px 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #227dd3;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

/*/////////////////////////////////DOCUMENTS AND PHOTOS////////////////////////////*/

.doc-ft-container {
    width: 100%;
    height: 232px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 168px;

}

.doc-container, .ft-container {
    display: flex;
    /*justify-content: space-between;*/
    height: 119px;
    width: 30%;
}

.doc-ft-text-cont {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.doc-ft-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.under-doc-ft-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: grey;
}

/*/////////////////////////////////INFO CONTAINER/////////////////////////////*/

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("PNG's/info-sec/lsd.png");
    background-size: 100%;
    height: 1352px;
}

.sec1-container {
    display: flex;
    flex-direction: column;
    padding-top: 86px;
    width: 100%;

}

.sec1-logo {
    display: flex;
    justify-content: center;
}

.info-sec1-title {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.info-text-sec1 {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 60%;
}

.info-text-sec1-block2 {
    margin-left: 20%;
    margin-top: 55px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 60%;
}

.sec2-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 330px;
    height: 476px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
}

.sec2-logo {
    display: flex;
    justify-content: center;
    width: 274px;
    height: 230px;
}

.sec2-text-cont {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    width: 60%;
}

.info-sec2-title {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 32px;
}

.info-text-sec2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
}

.download-button-cont {
    margin-top: 45px;
}

.download-button {
    text-decoration: none;
    text-align: center;
    padding: 12px 43px;
    border: solid 3px #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font: 20px "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #44a36f;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.download-button:hover {
    padding: 12px 43px;
    border: solid 3px #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font: 20px "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #328a59;

}

.download-button:active {
    padding: 12px 43px;
    border: solid 3px #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font: 20px "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #44a36f;

}

                      /*//////////////////////////////////////// MAP /////////////////////////////*/
.map-container {
    background: url("PNG's/map-foot/map.png");
    background-size: 100%;
    height: 635px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.map-white-round {
    width: 430px;
    height: 430px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

.map-forms {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.map-form {
    margin-top: 16px;
    width: 275px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #909090;
    outline: none;
}

.map-form-message {
    margin-top: 16px;
    width: 275px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #909090;
    outline: none;
}

.map-form-message::placeholder {



}
