/* Импортировал шрифт для сайта */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Задал контейнеру шрифт, ширину и отцентрировал */

.container {
  font-family: Open Sans;
  margin: 0 auto;
}

/* Задал верней части хедера высоту, добавил флекс этому контейнеру, отцентрировал и расставил с пробелами элементы внутри (логотип, меню и поиск), задал цвет бг и текста */

.header-top {
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #313131;
  color: white;
}

/* Задал флекс и отцентрировал элементы внутри */

.logo {
  align-items: center;
  display: inherit;
}

/* Задал отступы картинке лого */

.logo-img {
  margin: 21px 27px 22px;
}

/* Задал свойства названию */

.header-top-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

/* Задал меню ширину, флекс, контент разделил пробелами, применил свойства с фигмы */

.nav-menu-wrap {
  width: 722px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Задал ссылке hover */

.nav-menu a {
  transition: 0.3s ease-in-out;
}
.nav-menu a:hover {
  color: #14b9d5;
  transition: 0.3s ease-in-out;
}

/* Задал ширину, бг и отступы поиску*/

.search-bar {
  width: 70px;
  background-color: #000;
}

.search-img {
  margin: 26px;
}

/* Задал второй части хедера флекс, элементы расположил вертикально, отцентрировал элементы и текст, задал высоту, сделал бг и затемнил его */

.header-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 370px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/header_bg.jpeg);
  background-position: -200px -550px;
}

/* Задал отступы титульной надписи, цвет, ширину и свойства с фигмы*/

.header-bottom-tittle {
  margin-top: 165px;
  margin-bottom: 44px;
  color: white;
  width: 637px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

/* Задал кнопкам ширину и флекс, расставил между пробелов */

.buttons {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

/* Стилизировал кнопки */

.button {
  width: 170px;
  height: 55px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: white;
  border-radius: 3px;
  border: none;
}

.first-btn {
  background-color: #89ca62;
}

.secondary-btn {
  background-color: #14b9d5;
}

/* Задал блоку флекс, расположил элементы вертикально, отцентрировал, задал длину блока и бг */

#most-popular {
  display: flex;
  height: 1030px;
  background-color: #f2f2f2;
  align-items: center;
  flex-direction: column;
}

/* Задал титулке отступы, цвет и свойства с фигмы*/

.most-popular-title {
  margin: 50px 0 50px;
  color: #18b4cf;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
}

/* Задал длину, флекс, чтоб отцентрировать и расположить элементы внутри */

.most-popular-items {
  width: 1180px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

/* Задал каждому элементу отступы */

.most-popular-item {
  margin-bottom: 30px;
}

/* Задал отступы тексту под картинками и свойства с фигмы */

.most-popular-text {
  background-color: white;
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

/* Задал блоку грид, высоту, настроил бг  как с фигмы */

#clients {
  display: grid;
  height: 590px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/parallax/parallax-bg.jpeg);
  background-position: -20px -150px;
  text-transform: uppercase;
}

/* Задал отступ сверху и свойства с фигмы, отцентрировал текст */

.clients-title {
  margin: 150px auto 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

/* Стилизировал полоску */

.divider {
  height: 3px;
  width: 60px;
  background-color: #18b4cf;
  border: none;
}

/* Задал ширину, грид, распределил элементы в ряд и отцентрировал */

.clients-logo {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 0 auto;
}

/* Задал титулке отступы, отцентрировал текст и применил свойства с фигмы*/

.top-rated-title {
  text-align: center;
  margin-top: 52px;
  margin-bottom: 52px;
  color: #18b4cf;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
}

/* Задал грид и распределил горизонтально фото */

.top-rated-photos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.top-rated-img {
  width: 100%;
  height: 100%;
}

/* Задал титулке отступы, отцентрировал текст и применил свойства с фигмы */

.hot-news-title {
  text-align: center;
  margin-top: 52px;
  margin-bottom: 52px;
  color: #18b4cf;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
}

/* Задал ширину, отцентрировал и добавил грид, чтоб расположить  элементы внутри как в фигме */

.hot-news-items {
  width: 100%;
  max-width: 1170px;
  display: grid;
  margin: 0 auto;
}

/* Задал высоту и бг всем элементам внутри */

.hot-news-item {
  height: 260px;
  background-color: #f9f7f7;
}

/* Распределил все элементы благодаря родителю с дисплеем грид */

.hot-news-item1 {
  display: flex;
  width: 885px;
  grid-column: 1 / 5;
  margin-bottom: 40px;
}

.hot-news-item2 {
  width: 280px;
  grid-column: 5 / 7;
  justify-self: end;
}

.hot-news-item3 {
  width: 555px;
  height: 420px;
  grid-row-start: 2;
  grid-column: 1 / 4;
  margin-bottom: 40px;
}

.hot-news-item4 {
  width: 555px;
  height: 420px;
  grid-row-start: 2;
  grid-column: 4 / 7;
  justify-self: end;
}

.hot-news-item5 {
  width: 555px;
  height: 420px;
  grid-row-start: 3;
  grid-column: 1 / 4;
  margin-bottom: 40px;
}

.hot-news-item6 {
  width: 555px;
  height: 420px;
  grid-row-start: 3;
  grid-column: 4 / 7;
  justify-self: end;
}

.hot-news-item7 {
  width: 280px;
  grid-row-start: 4;
  grid-column: 1 / 3;
  margin-bottom: 40px;
}

.hot-news-item8 {
  display: flex;
  width: 885px;
  grid-row-start: 4;
  grid-column: 3 / 7;
  justify-self: end;
}

/* Задал отдельно двум элементам флекс, чтоб текст не вылазил */

.hot-news-link1,
.hot-news-link8 {
  display: flex;
}

/* Задал всем текст справа */

.hot-news-post {
  text-align: right;
}

/* Задал отдельно двум элеменетам без описания центр */

.hot-news-post2,
.hot-news-post7 {
  text-align: center;
}

/* Задал титулке отступы и свойства с фигмы */

.hot-news-text-title {
  margin: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

/* Задал описанию отступы и свойства с фигмы */

.hot-news-paragraph {
  margin: 0px 20px 20px 20px;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

/* Задал отдельно двум элементам отступы титулки больше */

.hot-news-text-title1,
.hot-news-text-title8 {
  margin-top: 40px;
}

/* Задал футеру бг */

.footer {
  background-color: #000;
}

/* Задал ширину, отцентрировал, высоту, флекс и расставил с помощью флекса элементы */

.footer-container {
  width: 1180px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Задал свойства с фигмы */

.copyright {
  font-size: 13px;
  line-height: 13px;
  color: white;
}

/* Задал отступ чтоб лого было по центру */

.footer-logo {
  margin-top: 10px;
}
