.buttons {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 50px;
}

.buttons > *{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: dimgray;
}


